html,
body {
	margin: 0;
	font-size: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

p {
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 1.9em;
	color: #555;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}
.thumbnail {
    position: relative;
    margin-bottom: 2px;
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}


ul.tag2:last-child {
	margin: 0;
}
.w3ls-fsocial-grid {
    padding-top: 2em;
    border-top: 2px solid #eee;
    margin-top: 1em;
    text-align: center;
}

.wthree-subscribef-w3ls {
    background: url(../images/shop-bg.jpg) ;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.wthree-subscribef-w3ls h3.tittlef-agileits-w3layouts {
    padding-top: 100px;
    text-align: left;
}
.footer_w3layouts_gridf_right {
    width: 75%;
    margin-top: 1em;
}
.top-input input {
	outline: none;
	padding: 13px;
	background: #fff;
	font-size: 0.9em;
	color: #888;
	width: 56%;
	border: none;
	letter-spacing: 1px;
	float: left;
}

.wthree-subscribef-w3ls input[type="email"]::-webkit-input-placeholder {
	color: #999!important;
}

.wthree-subscribef-w3ls input[type="submit"] {
    outline: none;
    padding: 10.5px 0;
    background: #733544;
    font-size: 1.1em;
    font-weight: 400;
    color: #fff;
    border: none;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 20%;
    float: left;
    border-radius: 6px;
}

.wthree-subscribef-w3ls input[type="submit"]:hover {
	background: #ee4f4f;
}

ul.social-icons3.two li a {
	text-align: center;
}
.footer-wthree-copyf p, .addressf-agileits-w3layouts p {
    color: #000;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

/*-- Colors --*/
h3.white-clrf{
	color:#fff;
    font-weight: 400;
    font-size: 40px;
    margin-top: 50px;
}
p.white-clrf{
	color:#fdfdfd;
}
/*-- //Colors --*/

/*--mobile-app--*/
.app-img img {
    width: 400px;
    float: right;
}
.mobile-app h3.tittlef-agileits-w3layouts {
    text-align: left;
}
.app-devices a {
    float: left;
    width: 175px;
    margin-right: 4%;
}
.app-devices {
    margin: 2em 0 1em;
}
.app-info p a {
    color: #EA3621;
    font-weight: bold;
    text-decoration: none;
}
/*--//mobile-app--*/
/*-- Contact --*/
.contctf_mail_grid_right input[type="text"], .contctf_mail_grid_right input[type="email"], .contctf_mail_grid_right textarea {
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #000;
    background: none;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid rgba(197, 197, 197, 0.8);
    margin-bottom: 1em;
}
.inputf_left {
    float: left;
    width: 49%;
}
.inputf_right {
    float: right;
    width: 49%;
}
.contctf_mail_grid_right textarea {
    min-height: 150px;
    width: 100%;
    resize: none;
}
.contctf_mail_grid_right input[type="submit"], .contctf_mail_grid_right input[type="reset"] {
    outline: none;
    padding: 13px 0;
    font-size: 1.1em;
    font-weight: 400;
    color: #fff;
    background: #168eea;
    margin-top: .9em;
    width: 49%;
    border: none;
    letter-spacing: 4px;
    text-transform: capitalize;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.contctf_mail_grid_right input[type="reset"] {
    background: #ee4f4f;
    float: right;
}
.contctf_mail_grid_right input[type="submit"]:hover, .contctf_mail_grid_right input[type="reset"]:hover {
    background: #252525;
    color: #fff;
}
.contactf-left span.fa {
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.25);
    width: 47px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    color: #000000;
    box-shadow: 2px 2px 16px #a2a2a2;
}
.contactf-left h4,.contactf-left h5{
	text-align:left;
}
.contactf-left h4 {
    color: rgb(238, 79, 79);
    font-size: 1.2em;
    margin-bottom: .3em;
    text-shadow: 1px 1px 2px #757575;
}
.contactf-left p {
    color: #000;
}
.contactf-left p a{
	color:#000;
}
.contactf-left p a:hover{
	color:#168eea;
}
.contactf-mail {
    padding: 2em 0;
}
.call {
    padding-bottom: 2em;
}
.mapf iframe {
    width: 100%;
    border: none;
    outline: none;
    min-height: 400px;
    padding: 1em 1em 1em;
    border: 2px dotted #888;
}
@media(min-width:1081px){
.locationsf-main {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
}
@media(min-width:481px){
    .locationsf-inn {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        flex-basis: 49.45%;
        -webkit-flex-basis: 49.45%;
    }
}
.locatnf-grids{
    flex-basis: 49%;
     -webkit-flex-basis: 49%;
}
.locatnf-grids iframe {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 1em;
    min-height: 210px;
}
/*-- // Contact --*/
/*--responsive--*/


@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	.tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 90%;
        left: 5%;
    }
    #loader {
        margin: 20% auto 0;
    }
    .fteam_grid_info {
        padding: 40px 11px;
        margin: 0 4px;
    }
}
@media(max-width:1280px){
	.fteam_grid_info:nth-child(3), .fteam_grid_info:nth-child(4), .fteam_grid_info:nth-child(5), .fteam_grid_info:nth-child(6){
        margin-top: 1em;
    }
    .fteam_grid_info {
        width: 48%;
    }
    .main-topicsf a.buttonf {
        font-size: 1.1em;
    }
    .tabs-inn-info-agileits-w3layouts {
        padding: 1.7em 2em 0;
    }
}
@media(max-width:1080px){
    .tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 87.5%;
        height: 15%;
        left: 6%;
    }
    .tabs-inn-info-agileits-w3layouts {
        padding: 0.7em 2em 0;
    }
    h3.sub-w3ls-headf {
        font-size: 1.4em;
    }
    .pos1, .pos2, .pos3, .pos4, .pos5 {
        margin: 1em;
    }
    #loader {
        margin: 25% auto 0;
    }
    .contactf-left p {
        font-size: 0.9em;
    }
    .locationsf-inn .m1,.locationsf-inn .m2{
        margin-bottom:1em;
    }
}
@media(max-width:1050px){
    .footer_agileinfo_topf {
        padding: 3em 0;
    }
    .addressf-agileits-w3layouts p span.fa {
        font-size: 2.5em;
    }
    .footer-wthree-copyf p:nth-child(2) {
        margin-top: 4px;
    }
}
@media(max-width:1024px){
	
}
@media(max-width:991px){
	.aboutf, .wthree-subscribef-w3ls, .reviewf-main, .posf-grids, .mobile-app, .materialsf-section, .stats-f, .about-ftop-inn, .finner_team, .mail, .locatnf-section, .innerf-pages {
        padding: 4em 0;
    }
    .tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 93%;
        height: 15%;
        left: 3.5%;
    }
    .materialsf-section ul li:nth-child(1), 
    .materialsf-section ul li:nth-child(2){
        margin-bottom:1em;
    }
    #loader {
        margin: 21% auto 0;
    }
    .pos1, .pos2, .pos3, .pos4 {
        transform: none;
        margin: 1em 0em;
    }
    .pos5{
        margin:0 1em;
    }
    .posf-btm {
        text-align: left;
        width: 100%;
    }
    .posf-left {
        margin-top: 16em;
    }
    .posf-right {
        float: none;
        text-align: left;
    }
    .app-img img {
        width: 100%;
        float: none;
    }
    ul.footer_w3layouts_gridf_list {
        margin: 1em 0;
    }
    .addressf-agileits-w3layouts {
        float: none;
    }
    .footer-wthree-copyf p:nth-child(2) {
        float: none;
        margin-top: 10px;
    }
    .footer_w3layouts_gridf h2 a {
        margin-bottom: 0.2em;
    }
    .footer_w3layouts_gridf:nth-child(1) {
        margin-bottom: 1.5em;
    }
    .header_right a {
        font-size: 17px;
    }
    .img-deal1 h3 {
        font-size: 15px;
    }
    .img-deal1 a {
        font-size: 16px;
    }
    .colr {
        width: 100%;
        float: none;
    }
    p.paragraphf {
        font-size: 15px;
        letter-spacing: 1.2px;
    }
    h3.tittlef-agileits-w3layouts {
        line-height: 51px;
        margin-bottom: 0.7em;
    }
    .stats-f_left p {
        font-size: 2.5em;
    }
    .stats-f_left h4 {
        font-size: 1.2em;
    }
    .stats-f_left:nth-child(3), .stats-f_left:nth-child(4) {
        margin-bottom: 2em;
    }
    .teamf-left {
        margin-bottom: 3em;
        float: left;
    }
    .teamf-right {
        float: left;
        width: 100%;
    }
    .fteam_grid_info {
        width: 49%;
    }
    .date-text img {
        width: 100px;
    }
    .contctf_mail_grid_right {
        margin-bottom: 2.5em;
    }
}
@media(max-width:900px){
	#loader {
        margin: 24% auto 0;
    }
}
@media(max-width:800px){
	.tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 91.9%;
        height: 15%;
        left: 4.1%;
    }
    .fteam_grid_info {
        width: 48.9%;
    }
}
@media(max-width:768px){
	#loader {
        margin: 29% auto 0;
    }
    ul.short_ls li {
        font-size: 14.5px;
    }
    .fteam_grid_info {
        width: 48.5%;
    }
    .wthree-subscribef-w3ls input[type="submit"] {
        font-size: 1em;
        letter-spacing: 2px;
    }
    .contctf_mail_grid_right input[type="submit"], .contctf_mail_grid_right input[type="reset"] {
        padding: 11px 0;
        font-size: 1em;
        letter-spacing: 2px;
    }
    .wthree-subscribef-w3ls input[type="email"] {
        padding: 11.5px 13px;
    }
}
@media(max-width:767px){
    h3.tittlef-agileits-w3layouts {
        font-size: 2.5em;
    }
    .contctf_mail_grid_right textarea {
        min-height: 100px;
    }
}
@media(max-width:736px){
	
}
@media(max-width:667px){	
    .tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 89.9%;
        left: 5.1%;
    }
}
@media(max-width:640px){
	#loader {
        margin: 41% auto 0;
    }
}
@media(max-width:600px){
	.tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 92.5%;
        left: 3.8%;
    }
    #loader {
        margin: 46% auto 0;
    }
    .footer_w3layouts_gridf_right {
        width: 100%;
    }
}
@media(max-width:568px){
	.tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 92.2%;
        left: 4.1%;
    }
    .footer-wthree-copyf p, .addressf-agileits-w3layouts p {
        line-height: 30px;
    }
    .imagezoom-view {
        display: none;
    }
     .imagezoom-cursor ,.imagezoom-view{
    display: none;
    }
}
@media(max-width:480px){
	#loader {
        margin: 60% auto 0;
    }
    .caption p {
        font-size: 13px;
    }
    .caption h4 {
        font-size: 15px;
    }
    ul.rating li a span {
        margin-right: 1px;
    }
    .thumbnail p {
        font-size: 12px;
    }
    .fteam_grid_info {
        width: 48%;
    }
    .teamf-right .clientf-info {
        width: 100%;
    }
    .locationsf-inn .m1, .locationsf-inn .m2, .locationsf-inn .m3 {
        margin-bottom: 1.5em;
    }
    .inputf_left {
        float: none;
        width: 100%;
    }
    .inputf_right {
        float: none;
        width: 100%;
    }
}
@media(max-width:440px){
	.mtrl-f-grids {
        width: 100%;
    }
    .materialsf-section ul li:nth-child(3) {
        margin-bottom: 1em;
    }
    ul.short_ls li {
        font-size: 13.5px;
    }
    .services-agile-breadcrumb {
        padding: 0.6em 0;
    }
    .tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 91.8%;
    }
    h3.tittlef-agileits-w3layouts {
        font-size: 2.4em;
    }
    .aboutf, .wthree-subscribef-w3ls, .reviewf-main, .posf-grids, .mobile-app, .materialsf-section, .stats-f, .about-ftop-inn, .finner_team, .mail, .locatnf-section, .innerf-pages {
        padding: 3em 0;
    }
    .fteam_grid_info {
        width: 100%;
        margin: 0;
    }
    .fteam_grid_info:nth-child(2) {
        margin-top: 1em;
    }
    .date-text img {
        width: 60px;
    }
    .app-devices a {
        margin-right: 1%;
    }
}
@media(max-width:414px){
	#loader {
        margin: 75% auto 0;
    }
    .app-devices a img {
        width: 110px;
    }
    .app-devices a {
        width: 120px;
    }
    .social-ficons ul li {
        margin: 0 0.5em;
    }
    .stats-f_left {
        width: 100%;
        float: none;
    }
}
@media(max-width:384px){
	.social-ficons ul li {
        margin: 0em;
        display: block;
    }
    .social-ficons ul li:nth-child(2) {
        margin: 0.7em 0em;
    }
    .contact-icon-sidef {
        margin-bottom: 1em;
        float: none;
        width: 100%;
    }
    .contact-text-shopf-sear-headinf0 {
        width: 100%;
        float: none;
    }
    .reviewsf-left {
        padding: .2em;
    }
}
@media(max-width:375px){
	.tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 90.5%;
        left: 4.8%;
    }
    #loader {
        margin: 85% auto 0;
    }
    .contctf_mail_grid_right input[type="submit"], .contctf_mail_grid_right input[type="reset"] {
        padding: 9px 0;
    }
    h3.tittlef-agileits-w3layouts {
        font-size: 2.2em;
        line-height: 48px;
    }
}
@media(max-width:320px){
	.tabsf-w3-agileits-grids:hover div.img-caption::before {
        width: 88.5%;
        left: 5.8%;
    }
    #loader {
        margin: 116% auto 0;
    }
    .app-devices a {
        width: 118px;
    }
    h3.sub-w3ls-headf {
        font-size: 1.3em;
    }
}

/*--//responsive--*/

/*顶部*/
.top-right{
    /*float: left;*/
    /*opacity: 1;*/
    /*background-color: black;*/
    /*background: rgba(0,0,0,0);*/
    /*display: block;*/
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 99;
    height: 50px;
    border-bottom: 1px solid rgba(220, 220, 220, .2);
}
.top-right-text{
    float: right;
    line-height: 50px;

}
.top-left{
    line-height: 50px;
    color: white;
    font-size: 18px;
    margin-left: 30px;
}
.top-right-text span{
    color: white;
    font-size: 18px;
    margin-left: 30px;
    /*padding: 5px;*/
}
.private{
    font-size: 30px!important;
    display: inline-block;
    background: #e06267;
    border-radius: 10px;
}
.top-right-text span a:hover{
    color: #e06267;
    height: 30px;
    width: 100px;
}

/*提示*/
#hint{
    width: 100%;
    line-height: 70px;
    background: linear-gradient(-90deg, #9b494d, #bf5853);
    text-align: center;
    font-size: 25px;
    color: #fff;
    box-shadow: 0 0 20px #733544;
    display: none;
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: 0;
    z-index: 999;
}