<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runningman.paotui.mapper.ChatMapper">
    <insert id="insert" parameterType="chat">
        insert into chat (id,sender,addressee,`time`,info,status)
        values (#{id},#{sender},#{addressee},#{time},#{info},#{status})
    </insert>
    <update id="changeChatStatus">
        UPDATE chat set `status`=#{status} where id=#{id}
    </update>

    <select id="getChatHistory" resultType="ChatHistory">
        select sender,addressee,time,info
        from chat where (sender = #{username} and addressee = #{targetUsername}) or (sender = #{targetUsername} and addressee = #{username})
        order by time
    </select>
</mapper>