<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runningman.paotui.mapper.OrderMapper">
    <insert id="insertOrder" parameterType="order" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO `order`( `title`, `user`, `begin`, `end`, `start_Lnglat`, `end_lnglat`, `reward`, `endtime`) VALUES (#{title},#{user},#{begin},#{end},#{start_Lnglat},#{end_lnglat},#{reward},#{endtime})
    </insert>

    <select id="selectOrderByUser" parameterType="String" resultType="Order">
        select * from `order` where user = #{0}
    </select>

    <select id="getAllOrder" resultType="Order">
        select * from `order` order by id limit #{arg0},#{arg1}
    </select>

    <select id="getOrderCount" resultType="int">
        SELECT count(*) FROM `order`
    </select>

    <select id="getUserOrders" resultType="OrdersUser">
        select o.id,o.title,o.begin,o.end,o.reward,s.info as status
        from `order` o join `status` s on o.id = s.order_id
        where o.user=#{arg0}
        order by id limit #{arg1},#{arg2}
    </select>

    <select id="getUserOrderCount" resultType="int">
        SELECT count(*) FROM `order` where user = #{0}
    </select>

    <select id="getOrderInfo" parameterType="int" resultType="OrderInfo">
        select u.username,u.name,o.title,o.begin,o.end,o.start_Lnglat,o.end_lnglat,o.endtime
        from `order` o join `user` u on o.user = u.username
        where o.id = #{0}
    </select>

    <update id="setDelivery">
        update `order` set delivery = #{arg1} where id = #{arg0}
    </update>

    <select id="getOrderEndTime" parameterType="int" resultType="Date">
        select endtime from `order` where id = #{id}
    </select>
</mapper>