<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runningman.paotui.mapper.StartMapper">

    <select id="queryReputation"  resultType="CommentUser">
        select o.id,o.title,c.time,o.reward,c.start
        from `order` o inner join comment c on o.id=c.order_id
        where o.delivery=#{username}
        order by o.id limit #{page},#{limit}
    </select>


    <select id="getUserStartCount" resultType="int">
        select count(*)
        from `order` o inner join comment c on o.id=c.order_id
        where o.delivery=#{username}
    </select>

    <select id="SumUserStart" resultType="AuthInfo">
        select * from auth_info a
        inner join user u on a.id=u.auth
        where u.username=#{username}
    </select>
</mapper>